.seven-hour {
  grid-column: 2/3;
  grid-row: 2/3; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  border: 1px dotted blue;
  width: 20rem;
  height: 55rem;
}

.seven-hour-title {
  font-family: 'Mitr', sans-serif;
  color: #024856;
  font-weight: 500;
}

.seven-hour-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: (repeat 7, 1fr);
}