.ten-day {
  grid-row: 3/4;
  grid-column: 1/end;
  width: 75rem;
  height: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; 
  border: 1px dotted blue;
}

.ten-day-title {
  font-family: 'Mitr', sans-serif;
  color: #024856;
  font-weight: 500;
}

.ten-day-container {
  display: grid;
  /*grid-template-columns: (repeat 10 , 1fr);*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}