.ten-day {
  grid-row: 4/5;
  grid-column: 1/end;
  width: 85rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.ten-day-title {
  font-family: 'Mitr', sans-serif;
  color: #024856;
  font-weight: 500;
  font-size: 2em;
}

.ten-day-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}