.app-header {
  background-color: #f87ef3;
  background-image: linear-gradient(to bottom left, #f87ef3, #00e1d0);
  color: white;
  height: 200px;
  padding: 20px;
  text-align: center;
  grid-row: 1/2;
  grid-column: auto;
  width: 100vw;
}

.app-title {
  color: #024856;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  margin-bottom: 5px;
  margin-top: 10px;
}

.app-intro {
  color: #024856;
  font-family: 'Mitr', sans-serif;
  font-size: 1.25rem;
  margin: 10px auto 5px;
}

.header-form input {
  padding-left: 10px;
  width: 60%;
  height: 2rem;
  margin: auto;
}

.header-form button {
  font-size: 1rem;
  width: 20%;
  margin: 1em auto;
}

.header-form ::placeholder {
  font-size: 1rem;
  text-align: left;
}

