.app-header {
  background-color: #f87ef3;
  background-image: linear-gradient(to bottom left, #f87ef3, #00e1d0);
  color: white;
  height: 160px;
  padding: 20px;
  text-align: center;
}

.app-title {
  -webkit-text-stroke: 0.5px #3A6F7B;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  margin-bottom: 10px;
  margin-top: 10px;
}

.app-intro {
  font-family: 'Syncopate', sans-serif;
  font-size: 1em;
}

.header-form input {
  padding-left: 10px;
  width: 60%;
  height: 2rem;
}

.header-form button {
  font-size: .75em;
  margin-left: 10px;
  width: 20%;
}

.header-form ::placeholder {
  font-size: 1em;
  text-align: left;
}