.seven-hour {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 115rem;
  height: 15rem;
  margin: auto;
}

.seven-hour-title {
  font-family: 'Mitr', sans-serif;
  color: #024856;
  font-weight: 500;
  font-size: 2em;
}

.seven-hour-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1em;
}