.welcome-container {
  background-color: #F87EF3;
  background-image: linear-gradient(to bottom left, #F87EF3, #00E1D0);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 20px;
}

.welcome-title {
  -webkit-text-stroke: 2px #3A6F7B;
  color: #FFF;
  font-size: 8em;
  font-family: 'Lobster', cursive;
  margin-top: 25px;
  margin-bottom: 25px;
}

.welcome-intro {
  font-size: 1em;
  font-family: 'Syncopate', sans-serif;
}

.welcome-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.welcome-form input {
  font-size: 1em;
  font-family: 'Syncopate', sans-serif;
  height: 2rem;
  margin: 1em;
  padding-left: 10px;
}

.welcome-form button {
  margin: 10px auto;
  width: 50%;
}

.welcome-form ::placeholder {
  text-align: center;
}