// $dark-teal: #024856;
// $white: #FFF;
// $body-font: 'Mitr', sans-serif;
// $heading-font: 'Lobster', cursive;

.welcome {
  height: 100vh;
  text-align: center;
  width: 100vw;
  overflow: hidden;
}

.welcome-container {
  background-color: #F87EF3;
  background-image: linear-gradient(to bottom left, #F87EF3, #00E1D0);
  color: #024856;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  width: 100vw;
}

.welcome-title {
  color: #024856;
  font-size: 8em;
  font-family: 'Lobster', cursive;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.welcome-intro {
  font-size: 1.5em;
  font-family: 'Mitr', sans-serif;
  text-align: center;
}

.welcome-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.welcome-form input {
  font-size: 1.25rem;
  font-family: 'Mitr', sans-serif;
  height: 2.5rem;
  margin: 1em;
  padding-left: 10px;
}

.welcome-form button {
  margin: 10px auto;
  width: 50%;
  height: 2em;
}

.welcome-form ::placeholder {
  text-align: center;
  font-family: 'Mitr', sans-serif;
  font-size: 1.25rem;
}